.description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    height: 330px;

    .wrap {
        max-width: 630px;
        width: 100%;

        .description-title {
            font-weight: bold;
            font-size: 36px;
            line-height: 120%;
            margin-bottom: 30px;
            padding-top: 50px;
        }

        .description-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
        }

        .description-subtitle:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .description-img {
        max-width: 440px;
        width: 100%;
        max-height: 340px;
    }
}

@media (max-width: 1024px) {
    .description {
        .wrap {
            margin: 0 auto;

            .description-title {
                padding-top: 0;
            }

            .description-subtitle {
                font-size: 18px;
                line-height: 22px;
            }
        }

        .description-img {
            max-width: 400px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 900px) {
    .description {
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
        height: auto;

        .wrap {
            .description-subtitle {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 600px) {
    .description {
        .wrap {
            .description-title {
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
    }
}
