@import "../../variables.scss";

.home {
    display: flex;
    flex-direction: column;
    padding-top: 70px;

    @media (max-width: 768px) {
        padding-top: 0;
    }
    &__promo {
        padding-bottom: 120px;
        @media (max-width: $xl) {
            padding-bottom: 50px;
        }
    }
}

.cat {
    position: absolute;
    top: 90px;
    left: 0;
    z-index: -2;
    @media (max-width: $xl) {
        display: none;
    }
}

.blocks-data {
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    //justify-content: space-between;
    // @media (max-width: $xl) {
    //   margin: initial;
    //   flex-direction: column;
    //   margin-bottom: 62px;
    // }
    &__item {
        width: 49%;
        @media (max-width: $xl) {
            margin: 5px 0;
            width: 100%;
        }
    }
}

.promo-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 89px;
    justify-content: center;
    &:nth-child(odd) {
        flex-direction: row-reverse;
        justify-content: flex-end;
        @media (max-width: $l) {
            flex-direction: column;
        }
        & .promo-item__discription {
            margin-left: 0;
            margin-right: 103px;
            @media (max-width: $l) {
                margin-left: initial;
                margin-right: initial;
            }
        }
    }
    @media (max-width: $l) {
        flex-direction: column;
        margin-bottom: 33px;
        &:last-child {
            margin-bottom: 93px;
        }
        & button {
            margin: 0 auto;
        }
        & img {
            display: block;
            max-width: 420px;
            width: 100%;
            margin: 0 auto;
        }
    }
    &__discription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 91px;
        @media (max-width: $l) {
            margin-top: 33px;
            margin-left: 0;
        }
        & h3 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 43px;
            @media (max-width: $l) {
                font-size: 30px;
                line-height: 36px;
            }
        }
        & .promo-item__discription-sub {
            max-width: 445px;
            margin: 30px 0;
            font-size: 20px;
            line-height: 30px;
            @media (max-width: $l) {
                margin: 20px 0;
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

.main-button {
    margin: 0 auto;
}

.title {
    margin: 0 auto;
    width: 707px;
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    text-align: center;
    animation-duration: 1.2s;
    animation-name: animationTitle;

    @media (max-width: $xl) {
        width: 100%;
        line-height: 54px;
        font-size: 45px;
    }
}

.subtitle {
    margin: 30px auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    animation-duration: 1.2s;
    animation-name: animationTitle;
    max-width: 730px;
    width: 100%;
}

.subtitle-item:not(:last-child) {
    margin-bottom: 15px;
}

.button {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background: #232323;
    color: $clrText;
    cursor: pointer;
    border: none;
    &:not(.gradient-button) {
        width: fit-content;
        padding: 14px 58px;
        border-radius: 10px;
    }
}

.button-gradient {
    border: 2px outset #78dce0;
    margin: 0 auto;
    animation-duration: 1.2s;
    animation-name: animationTitle;
}

.shine,
.shine-mobile {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 45%;
    @media (max-width: $xl) {
        display: none;
        width: calc(100vw);
        height: 1000px;
    }
}

.shine-mobile {
    display: none;
    @media (max-width: $xl) {
        max-width: 100%;
        display: block;
    }
}

.shine-right {
    right: 0;
    left: initial;

    @media (max-width: $xl) {
        display: none;
    }
}

@keyframes animationTitle {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: $xl) {
    .subtitle {
        margin: 20px auto;
        width: 100%;
        line-height: 22px;
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .title {
        line-height: 52px;
        font-size: 42px;
    }
}
